<div>
    <h2 translate="colleagues.home.title">colleagues</h2>
    <jh-alert></jh-alert>

    <div class="table-responsive">
        <div class="text-right">
            <label translate="colleagues.searchColleague">search for colleague</label> <input ng-model="query">
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="colleagues.lastName">lastname</th>
                <th translate="colleagues.firstName">firstname</th>
                <th translate="colleagues.email">email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users | filter:query">
                <td>{{user.lastName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.email}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="colleagues.write({login:user.login})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page"
                        ng-change="loadAll()"></uib-pagination>
    </div>
</div>
