<form name="editForm" role="form" novalidate ng-submit="save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myFormLabel" translate="colleagues.write.title"
            translate-values="{firstName: '{{user.firstName}}', lastName: '{{user.lastName}}' }">Write feedback for John Doe</h4>
    </div>
    <div class="table-responsive">
    <table class="jh-table table table-striped">
        <tbody>
        <tr ng-repeat="question in questions track by question.id">
            <td ng-model="answer.question">{{question.id}}</td>
            <td>{{question.text}}</td>
            <td><textarea id="question.id" ng-model="answer.text" class="textArea" rows="4" cols="100" placeholder="Write your feedback here..."></textarea></td>
        </tr>
        </tbody>
    </table>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ui-sref="colleagues.feedback({login:user.login})" class="btn btn-primary">
            <span class="glyphicon glyphicon glyphicon glyphicon-play-circle"></span>&nbsp;Submit</span>
        </button>
        <button type="submit"  class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
